<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Geekologie - Gadgets, Gizmos, and Awesome</title>
<!-- <link href="/static/imageblog/dark.css" rel="stylesheet" type="text/css"> -->
<link rel="stylesheet" href="/static/imageblog/bootstrap/css/bootstrap.css">
<link href="/static/imageblog/bootstrap/css/bootstrap.responsive.css" rel="stylesheet" type="text/css">
<link href="/static/imageblog/bootstrap/css/bootstrap.icon-large.min.css" rel="stylesheet" type="text/css">

<style type="text/css">
      
      .right_display{
         color:white;
         font-family: 'PT Sans Narrow',sans-serif,Arial,Helvetica;         
         text-align: left;         
      }

      body{
          background: url('/static/imageblog/bg-test.jpg') no-repeat scroll center top rgb(0, 0, 0);
      }

      #rectangle-ad {
          width: 300px;
          margin: 0px 10px 20px;
          overflow: hidden;
      }


      

</style>


</head>

<body>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/imageblog/bootstrap/js/bootstrap.min.js"></script>
	

<div class="container-fluid">	 
    <div class="navbar navbar-inverse navbar-fixed-top">  <!-- Top navigation bar -->
  	   <div class="navbar-inner">  
    		<div class="container"> 
    			<ul class="nav">  
  					<li class="active">  
    					<a href="#">ANTICLOWNMEDIA</a>  
  					</li>  
  					<li><a href="#">GEEKOLOGIE</a></li>  
  					<li><a href="#">I WATCH STUFF</a></li>  
  					<li><a href="#">THE SUPERFICIAL</a></li>  
  					<li><a href="#"><i class="icon-glass icon-white "></i></a></li>
  					<li><a href="#"><i class="icon-facebook icon-white"></i><small>twitter</small></a></li>
				</ul>   
    		</div>
  		</div>  
	  </div>  <!-- End of top navigation bar --> 
    
    <br/>   
    <br/>   
    <br/>   
    <br/>   
   

    <div class = "row-fluid"> <!-- Left control menu -->
		      <aside class= "span2">
			     <ul class = "nav nav-list">			
      				<li class="nav-header"> Control Menu </li>
      				<li><a href="#">Add Article</a></li>			
      				<li><a href="#">Edit Article</a></li>	
      				<li><a href="#">Delete Article</a></li>	
      			</ul>	
		      </aside>

    <div class="span8"> <!-- Main logo and navigation need to add 1 more-->		 
	   		<a href="/">
      			<img src="/static/imageblog/bg-header-test.jpg" border="0" style="width : 1000px; Height:125px; display: block; text-align: center">
  			</a>
  			
  			<div class="navbar navbar-inverse " >  
  			<div class="navbar-inner">  
    			<div class="container"> 
    				<ul class="nav">  
  						<li class="active">  
    						<a href="#">HOME</a>  
  						</li>  
  						<li><a href="#">VIDEOS</a></li>  
  						<li><a href="#">VIDEO GAMES</a></li>  
  						<li><a href="#">ARCHIVES</a></li>  
  						<li><a href="#">SEND A TIP!</a></li>
  						<li>    
  						<form class="navbar-search pull-left">
    						<input type="text" class="search-query" placeholder="Search">
    					</form>
    					</li>
					</ul>   
    			</div>
  			</div>  
			</div>    
    </div> <!-- End of main logo and navigation -->
    </div>



			<section class="row-fluid"> <!-- main article area -->
        <article class="span5 offset2">          
 				   {% block content %}
 				   {% endblock %}          
        </article>
        <aside class=" span5 right_display">
            
            <div class="row-fluid">
              <div class="span4" id="rectangle-ad">
              <script src="http://tags.expo9.exponential.com/tags/Geekologiecom/ROS/tags.js" type="text/javascript">
              </script>
                
              <div align="center">
              <script src="http://a.tribalfusion.com/j.ad?flashVer=11&ver=1.25&th=8744138925&tagKey=2256811888&site=geekologiecom&adSpace=ros&center=1&size=300x250&env=display&url=http%3A%2F%2Fwww.geekologie.com%2F&f=0&p=19896492&a=3&rnd=19918540" type="text/javascript">
              </script>
              <iframe width="300" scrolling="no" height="250" frameborder="0" vspace="0" hspace="0" marginheight="0" marginwidth="0" src="http://www.geekologie.com/defaults/300x250tribalfusion.html">#document
              </iframe>
              </div>
              </div>
            </div>  

            <div class="row-fluid">
               <article class="span5">   
                  <p>Lemons To Lemonade: Car Dent Turned Into Ninja Turtle</p>
                  <img  src='http://geekologie.com/2013/07/08/ninja-turtle-face-fender-bender.jpg' alt="" /> 
                  <hr/>
                </article>  
            </div>    
            <div class="row-fluid">
               <article class="span5">               
                  <p>Lemons To Lemonade: Car Dent Turned Into Ninja Turtle</p>
                  <img src='http://geekologie.com/2013/07/08/ninja-turtle-face-fender-bender.jpg'/> 
                </article>  
             </div>
        </aside>      
         
      </section>

<footer class="span6 offset6">
  &copy; Footer data
</footer> 

		
	
</div>	<!-- End of Fluid Container  -->



</body>
</html>
